* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body{
    background-color: #AEC3B0;
}
p{
    font-size: 24px;
    text-align: center;
    user-select: none;
}

h2{
    text-align:center;
    font-size:56px;
}
h3{
    /* text-align:center; */
    padding-inline:32px;
    font-size:48px;
    color:white;
}



.slider-container{
    margin-block-start: 128px;
    margin-inline:auto;
    width:100%;
    max-width:800px;
    overflow: hidden;
    position:relative;
}

.slider-track{
    display:flex;
    transition:transform 0.4s ease-in-out;
    /* gap:12px; */
    /* width:100%; */
}

.slides{
    background-color: #F2EFEA;
    min-width:100%;
    padding-inline:128px;
    padding-block:128px;
    width:100%;
    border:1px solid green;
    border-radius:24px; 
}

.nav-btn{
    height:50px;
    width:50px;
    border:1px solid green;
    border-radius:50%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.prev-btn{
    left:10px;
}
.next-btn{
    right:10px;
}

.dots-container{
    margin-block-start:20px;
    display:flex;
    justify-content: center;
    gap:10px;
}

.dot{
    height:16px;
    width:16px;
    border-radius: 50%;
    background-color: #ccc;
    transition:all 0.3s ease;
}

.dot.active{
    background-color: #5e5e5e;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------- */

.spacer{
    margin-block:50vh;
}

.scroll-container{
    padding-block:32px;
    background-color: black;
    height:auto;
}

.scroll-viewport{
    display:flex;
    flex-direction: column;
}
.scroll-heading{
    padding: 40px 32px ;
    flex-shrink: 0;
}
.scroll-track-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
}
.scroll-track{
    padding-inline:64px;
    width:100%;
    display:flex;
    gap:32px;
    will-change: transform;
}

.card{
    width:50vw;
    height:60vh;
    background-color: gray;
    background: #222;
    color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid #444;
    flex-shrink:0;
    scroll-snap-align: center;  
}


@media screen and (min-width:640px){

    .scroll-container{
        height:500vh;
        position: relative;
    }
    .scroll-viewport{
        position:sticky;
        top:0;
        height:100vh;
        overflow:hidden;
    }
    .scroll-track-wrapper{
        overflow-x:hidden;
    }
    .scroll-track{
        width:max-content;
    }

}